body {
    margin: 0px;
    background:#000000 ;
}

#main {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#box1 {
    width: 530px;
    height:625px ;
    background-image: url('1.png');
    position: absolute;
    bottom: -100%;
    left: 30%;
    animation: anim 2s forwards, anim2 3s forwards 3s;
}

#box1::after{
    content: '';
    position: absolute;
    width: 530px;
    height: 625px;
    background-image: url('QaqnusS.jpg');
    left: 0px;
    z-index:-1 ;
}

@keyframes anim{
    from{
        bottom: -100%;
    }
    to {
        bottom: 0%;
    }
}

@keyframes anim2{
    from{
        left: 30%;
        width: 530px;
    }
    to{
        width: 0px;
        left: 50%;
    }
}

#box2{
    width: auto;
    height: auto;
    font-family: 'Bahnschrift Condensed';
    color: chartreuse;
    font-size: 10em ;
    font-weight: 500;
    line-height: 130px;
    position: absolute;
    top: 250px;
    left: 100px;
    overflow: hidden;
}

#text {
    font-size: 130px;
    position: relative;
    left: -100%;
    animation: anim3 2s forwards 3s ;
}

@keyframes anim3{
    from{
        left:-100%;
    }
    to{
        left: 0%;
    }
}

#box3{
    overflow: hidden;
}

#container {
    width: 100%;
    position: absolute;
    top: -100%;
    animation: anim4 2s forwards 2.5s;
}

#logo {
    float: left;
    margin-left: 100px;
    margin-top: 20px;
}

#logo img{
    width: 50px;
    border-radius: 15px;
}

#menu{
    font-family: 'Bahnschrift Condensed';
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
    margin-right: 150px;
    margin-top: 20px;
    float: right;
}

#menu ul {
    list-style-type: none;
}

#menu ul li {
    display: inline-block;
    margin-left: 100px;
}

@keyframes anim4{
    from{
        top: -100%;
    }
    to{
        top: 0%;
    }
}